.navigationToggle {
    top: 30px;
    z-index: 2;
    right: 30px;
    height : 30px;
    position: absolute;
}

.navigationToggle:focus {
    outline: 0;
}

.navigationToggleOpen {
    height: 100vh;
}

.navigationIcon {
    height: 3px;
    width: 28px;
    display: flex;
    position: relative;
    background: #272727;
}

.navigationIcon:after,
.navigationIcon:before {
    content: '';
    right: 0;
    height: 3px;
    width: 25px;
    display: flex;
    position: absolute;
    background: #272727;
    transition: all 0.5s ease;
}

.navigationIcon:before {
    top: -8px;
}

.navigationIcon:after {
    top: 8px;
}

.navigationMenu {
    z-index: 1;
    display: flex;
    align-items: center;

    background-color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.navigationList {
    padding: 20%;
    list-style: none;
}

.navigationList li {
    display: block;
    padding: 15px 0;
    text-align: left;
    font-size: 1.5em;
}

.navigationLink {
    font-weight: 500;
    position: relative;
    color: #272727;
}

.navigationLink:active, .navigationLink:hover {
    color: #272727;
    text-decoration: none;
}

.navigationLink:hover:before {
      opacity: 1;
      transform: translateX(0px);
}
  
.navigationLink:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 20px;
    height: 4px;
    bottom: -5px;
    background-color: #272727;
    transform: translateX(100px);
    transition: all 0.3s cubic-bezier(.55,0,.1,1);
}