.contactContainer {
    background-color: #232323;
    text-align: start;
    padding: 40px 0;
    color: #fff;
}

.contactTitle {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

.link {
    color: #fff;
}

.link:hover, link:active {
    color: #c2c2c2;
}