.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    background: 
    linear-gradient(
        rgba(39, 39, 39, 0.45), 
        rgba(39, 39, 39, 0.45)
      ), 
        url('./background.png') repeat;
    -webkit-background-clip: text;
    text-transform: uppercase;
    letter-spacing: -4px;
    color: transparent;
    font-weight: 800;
    font-size: 5em;
}

@media (max-device-width: 480px) {
    .headerTitle {
        font-size: 4em;
        line-height: 1em;
        margin-bottom: 15px;
    }
}

.headerSubTitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25em;
    margin-top: -10px;
}