.experienceContainer {
    margin: 40px 0;
    position: relative;
}

.experienceContainer:before {
    content: '';
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    position: absolute;
    background: rgba(35,35,35, 0.2);
}

@media (max-width: 992px) {
    .experienceContainer {
        margin: 0;
    }
}